<h1>Listing scheduled_employees</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scheduled_employees.each do |scheduled_employee| %>
  <tr>
    <td><%= link_to 'Show', scheduled_employee %></td>
    <td><%= link_to 'Edit', edit_scheduled_employee_path(scheduled_employee) %></td>
    <td><%= link_to 'Destroy', scheduled_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scheduled employee', new_scheduled_employee_path %>
